<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- daterangepicker -->
    <link href="css/plugins/daterangepicker.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">SB Admin</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li><a class="navbar-link" href="#"><i class="fa fa-user"></i> John Smith </a></li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> 首頁</a>
                    </li>
                    <li>
                        <a href="deal.html"><i class="fa fa-fw fa-bar-chart-o"></i> 交易紀錄</a>
                    </li>
                    <li>
                        <a href="label.html"><i class="fa fa-fw fa-table"></i> 廠牌</a>
                    </li>
                    <li>
                        <a href="item.html"><i class="fa fa-fw fa-edit"></i> 產品</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-sign-out"></i> 登出</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper" ng-app="ui.bootstrap.deal">

            <div class="container-fluid" ng-controller="ModalDemoCtrl">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            交易紀錄
                            <button class="btn btn-primary btn-inverse" type="button" ng-click="open()">新增</button>
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

                <script type="text/ng-template" id="myModalContent.html">
                    <div class="modal-header">
                        <h3 class="modal-title" id="modal-title">新增交易</h3>
                    </div>
                    <form ng-submit="submit()" class="form-horizontal">
                        <div class="modal-body" id="modal-body">
                            <div class="form-group">
                                <label for="owner" class="col-sm-2 control-label">車主</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="owner" ng-model="deal.owner">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="plate_number" class="col-sm-2 control-label">車牌</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="plate_number" ng-model="deal.plate_number">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="label" class="col-sm-2 control-label">廠牌</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="label" ng-model="deal.category"
                                        ng-options="option.name for option in labels.availableOptions track by option.id"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="category" class="col-sm-2 control-label">車種</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="category" ng-model="deal.category"
                                        ng-options="option.name for option in categories.availableOptions track by option.id"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="price" class="col-sm-2 control-label">消費金額</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" id="price" ng-model="deal.price">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="remarks" class="col-sm-2 control-label">備註</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="remarks" ng-model="deal.remarks">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" value="送出" />
                            <button class="btn btn-default" type="button" ng-click="cancel()">取消</button>
                        </div>
                    </form>
                </script>

                <!-- Filter bar -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="col-md-3" ng-controller="DatepickerPopupDemoCtrl">
                                    <input type="text" class="form-control date-picker" date-range-picker ng-model="search.dt" placeholder="日期"/>
                                </div>
                                <form class="form-inline">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="廠牌/產品/姓名" ng-model="search.target">
                                    </div>
                                    <button type="submit" class="btn btn-info">搜尋</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>日期</th>
                                        <th>客戶名稱</th>
                                        <th>車牌</th>
                                        <th>廠牌</th>
                                        <th>車種</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="deal in dealData.data | filter: search.target | filter: search.dt">
                                        <td>{{ deal.id }}</td>
                                        <td>{{ deal.id }}</td>
                                        <td>{{ deal.first_name }}</td>
                                        <td>{{ deal.last_name }}</td>
                                        <td>{{ deal.avatar }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" max-size="10" class="pagination-md" rotate="true"></ul>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Anuglar & UI Bootstrap -->
    <script src="js/ui-bootstrap-custom-build/angular.min.js"></script>
    <script src="js/ui-bootstrap-custom-build/ui-bootstrap-custom-tpls-2.5.0.min.js"></script>
    <script src="js/ui-bootstrap-deal.js"></script>

    <!-- daterangepicker -->
    <script src="js/plugins/angular-daterangepicker/moment.js"></script>
    <script src="js/plugins/angular-daterangepicker/daterangepicker.min.js"></script>
    <script src="js/plugins/angular-daterangepicker/angular-daterangepicker.min.js"></script>
</body>

</html>
